* {
  box-sizing: border-box;
  font-family: "Comic Relief", sans-serif;
}

body {
  background-color: #202b44;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
}
